.star-rating {
  display: flex;
  gap: 4px;

  img {
    width: 24px;
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #000;
  }
  .off {
    color: #ccc;
  }
}