.library-item {
  background-color: #EFF1F1;
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;

  h1 {
    margin: 0;
  }

  img {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text {
      display: grid;
      grid-gap: 8px;
    }

    .library-item-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 32px;
    }
  }

  @media (max-width: 425px) {
    padding: 16px;

    img {
      width: 100px;
      height: 80px;
    }

  }
}