.library {
  display: grid;
  margin: 0 calc(8% + 73.28px + 32px + 36px + 4%) 0 calc(8% + 152px + 4%);

  h1 {
    margin: 32px 0;
  }

  &__items {
    display: grid;
    grid-gap: 16px;
  }

  @media (max-width: 1000px) {
    margin: 0 15px 85px 15px;
  }
}